
$colors: (
    logo-color: #555,
    text-color: #777,
    bg-color: #F8FAFF,
    main-h-color: #8dd4ec
);

$fonts: (
    header-font: "Noto Serif",
    secondary-font: "Mukta"
);

$font-sizes: (
    main-h-size: 2.6rem,
    header-size: 2rem,
    p-size: 1.1rem
);
