
$colors: (
    bg-color: #F8FAFF,
    main-h-color: #071e57,
    sec-h-color: #405261,
    logo-color: #555,
    text-color: #748494,
    main-blue: #1292EE
);

$fonts: (
    
);

$font-sizes: (
    main-h-size: 3.2rem,
    header-size: 2rem,
    small-header: 1.5rem,
    p-size: 1rem
);
 
 $header-font:'Oswald', sans-serif;
 $text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 