section.our-people {
  background-color: #F8FAFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

p {
  color: #748494;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
}

section {
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #fff;
}

.container-fluid {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1348px) {
  .container-fluid {
    max-width: 95%;
  }
}

.line {
  width: 13%;
  border: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 4%;
  margin-bottom: 5%;
}

/*    massage box   */
.massage-box h2 {
  margin: 20px 0;
}

.massage-box h3 {
  color: #748494;
  font-size: 1.5rem;
}

.massage-box a:hover:after {
  transform: translateX(5px) rotate(45deg);
  -webkit-transform: translateX(5px) rotate(45deg);
  -moz-transform: translateX(5px) rotate(45deg);
  -ms-transform: translateX(5px) rotate(45deg);
  -o-transform: translateX(5px) rotate(45deg);
}

.massage-box a:after {
  width: 6px;
  height: 6px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  content: "";
  margin-left: .3rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-tansform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
}

@media (max-width: 1091px) {
  .massage-box {
    width: 100%;
  }
}

.caret:after {
  width: 6px;
  height: 6px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  content: "";
  margin-left: .3rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-tansform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
}

.caret:hover:after {
  transform: translateX(5px) rotate(45deg);
  -webkit-transform: translateX(5px) rotate(45deg);
  -moz-transform: translateX(5px) rotate(45deg);
  -ms-transform: translateX(5px) rotate(45deg);
  -o-transform: translateX(5px) rotate(45deg);
}

/* ------------------------------------- Navigation ---------------------------------------*/
.navigation {
  background-color: #F8FAFF;
}

.navbar {
  padding: 0 12%;
}

.fixed-nav {
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0 10px 30px 0 rgba(25, 45, 100, 0.08);
          box-shadow: 0 10px 30px 0 rgba(25, 45, 100, 0.08);
  position: fixed;
  z-index: 100;
}

.mobile-nav {
  position: absolute;
  top: 20px;
  width: 99.5%;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  z-index: 434234;
  background-color: white;
}

.mobile-nav .nav-items .nav-links {
  width: 91%;
  color: #071e57;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px 0 10px 20px;
}

.mobile-nav .nav-items .nav-links i {
  font-size: 12px;
}

.mobile-nav .nav-small-links {
  list-style-type: none;
  padding-left: 10px;
}

.mobile-nav .nav-small-links li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-nav .nav-small-links li a {
  font-weight: 200;
  font-size: 1.2rem;
}

.mobile-nav .trail-btn {
  width: 100%;
}

.mobile-nav .close {
  position: absolute;
  top: 3px;
  right: 35px;
  font-size: 50px;
}

nav a.navbar-brand {
  font-size: 1.88235rem;
  font-weight: 400;
  color: #555;
}

nav a.navbar-brand i {
  color: #1292EE;
}

nav .nav-item {
  margin-left: 30px;
}

nav .nav-item a {
  color: #748494;
  font-weight: 100;
  font-size: 1.1rem;
  padding-bottom: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav .nav-item a i {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-bottom: 10px;
  font-size: 10px;
}

nav .nav-item a:hover i {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

nav .log-buttons a {
  color: #748494;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

nav .navbar-toggler {
  position: absolute;
  right: 30px;
}

/* DROPDOWN LISTS*/
.frozen-link {
  opacity: .6;
}

.acive-link {
  opacity: 1;
}

.product-dropdown,
.resources-dropdown {
  list-style-type: none;
  background: white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-left: 0;
  position: absolute;
  display: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-top: 10px;
}

.product-dropdown .dropdown-links,
.resources-dropdown .dropdown-links {
  padding: 7px 20px;
  padding-right: 40px;
}

.product-dropdown .dropdown-links strong,
.resources-dropdown .dropdown-links strong {
  color: #071e57;
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 10px;
}

.product-dropdown .dropdown-links strong:hover .fas,
.resources-dropdown .dropdown-links strong:hover .fas {
  cursor: pointer;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.product-dropdown .dropdown-links p,
.resources-dropdown .dropdown-links p {
  font-size: .8rem;
  padding-left: 10px;
}

.product-dropdown .dropdown-links .arrow-rot,
.resources-dropdown .dropdown-links .arrow-rot {
  -webkit-transform: rotate(35deg) translateY(-2px);
          transform: rotate(35deg) translateY(-2px);
  font-size: 12px;
  margin-left: 5px;
}

.product-dropdown .dropdown-links:first-of-type,
.resources-dropdown .dropdown-links:first-of-type {
  padding-top: 30px;
}

.product-dropdown .dropdown-links:last-of-type,
.resources-dropdown .dropdown-links:last-of-type {
  background-color: #F8FAFF;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.product-dropdown .dropdown-links:last-of-type a,
.resources-dropdown .dropdown-links:last-of-type a {
  display: block;
  padding: 20px 20px 15px 25px;
}

.product-dropdown .dropdown-links:last-of-type a:hover .fas,
.resources-dropdown .dropdown-links:last-of-type a:hover .fas {
  cursor: pointer;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.product-dropdown .dropdown-links:last-of-type .fas,
.resources-dropdown .dropdown-links:last-of-type .fas {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 12px;
}

#product-link:hover .product-dropdown {
  display: inline-block;
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: 1001;
}

#resources-link:hover .resources-dropdown {
  display: inline-block;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: 1000;
}

/*   Spriti images    */
.nav-spirit-img {
  content: "";
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

#nav-link-1 {
  background: url("../images/nav-image/nav-images-4.jpg") 0px 0px;
}

#nav-link-2 {
  background: url("../images/nav-image/nav-images-4.jpg") 0px -64px;
}

#nav-link-3 {
  background: url("../images/nav-image/nav-images-4.jpg") 0px -128px;
}

#nav-link-4 {
  background: url("../images/nav-image/nav-images-4.jpg") 0px -192px;
}

#nav-link-5 {
  background: url("../images/nav-image/nav-images-4.jpg") 0px -260px;
}

/* ------------------------------------------------------------- */
/* ------------------------------------- Header section ---------------------------------------*/
header {
  background-color: #F8FAFF;
  padding-bottom: 50px;
}

header h1 {
  font-size: 3.2rem;
  color: #071e57;
  text-shadow: 2px 2px 1px #f7f6f6;
  font-weight: 500;
  padding-top: 100px;
}

header p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding: 30px 0px;
  color: #405261;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header button {
  margin-bottom: 10px;
}

header button:nth-child(odd) {
  padding: 8px 25px;
}

header button:nth-child(even) {
  padding: 8px 14px;
  color: blue;
  background-color: #fff;
}

@media (max-width: 1100px) {
  header h1 {
    font-size: 2.3rem;
    padding-top: 70px;
  }
  header p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  header .hero-img {
    width: 60%;
    position: relative;
    left: -3%;
    top: -10px;
    z-index: 1;
  }
}

@media (max-width: 576px) {
  header button {
    width: 100%;
  }
}

/* ------------------------------------- Sec1 Header section ---------------------------------------*/
section.welcome-sec {
  /* making space between second and third row */
}

section.welcome-sec .welcome-text p {
  font-size: 2rem;
  color: black;
}

section.welcome-sec .welcome-text p span.new-line {
  line-height: .5;
}

section.welcome-sec .welcome-text p span.new-line:before {
  content: "\A";
  white-space: pre;
}

@media (max-width: 600px) {
  section.welcome-sec .welcome-text p {
    font-size: 1.5rem;
  }
}

section.welcome-sec .msg-image {
  width: 280px;
  margin: 0px auto;
}

section.welcome-sec .doc-image-container {
  /* show on mobile only image */
}

section.welcome-sec .doc-image-container img {
  -webkit-box-shadow: 0 60px 60px -20px rgba(25, 45, 100, 0.15);
          box-shadow: 0 60px 60px -20px rgba(25, 45, 100, 0.15);
  position: relative;
  z-index: 2;
}

section.welcome-sec .doc-image-container::after {
  content: "";
  width: 316px;
  height: 316px;
  position: absolute;
  bottom: -64px;
  left: -48px;
  background-image: url("../images/bg-doks-dottED.jpg");
  background-size: 306px 306px;
}

section.welcome-sec .doc-image-container:first-child {
  margin-bottom: 70px;
}

section.welcome-sec .doc-image-container:first-child::after {
  display: none;
}

section.welcome-sec .row:nth-child(2) {
  margin-bottom: 150px;
}

/* ------------------------------------- Sec2 Partners section ---------------------------------------*/
section.partners {
  padding-bottom: 15%;
  padding-left: 30px;
  padding-right: 30px;
}

.partners-row::after {
  content: "";
  width: 300px;
  height: 200px;
  position: absolute;
  left: 18%;
  margin-top: 190px;
  background-image: url("../images/partners/illustration-spot-planning.webp");
  background-size: 300px 200px;
}

@media (max-width: 1380px) {
  .partners-row::after {
    display: none;
  }
}

.partners-row .partners-box {
  height: 120px;
  max-width: 205px;
  min-width: 205px;
  background-color: #f9fafa;
  padding: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  /* centralize Shopify and Woocommerce images*/
}

.partners-row .partners-box .partners-logos {
  width: 225px;
  height: auto;
  margin-left: -10px;
}

.partners-row .partners-box .partners-logos:hover {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}

.partners-row .partners-box:hover {
  background-color: #F1F3F3;
}

.partners-row .partners-box .plus-badge {
  position: absolute;
  background-color: #9FA6FF;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
}

.partners-row .partners-box:nth-of-type(5) img, .partners-row .partners-box:nth-of-type(7) img {
  margin-left: -10px !important;
}

.partners-row .partners-box:last-of-type a {
  display: block;
  height: 100%;
  padding-top: 45px;
}

@media (max-width: 576px) {
  .partners-row .partners-box {
    min-width: 100%;
  }
}

/* ------------------------------------- Sec3 Customers section ---------------------------------------*/
section.customers {
  background-color: #F8FAFF;
  /*  Carousel Indicators */
  /* Left Section - Carousel */
  /* Modal styles*/
  /* Right Section - customers logos*/
}

section.customers .row::before {
  content: " ";
  position: absolute;
  width: 990px;
  height: 885px;
  top: 0;
  background: url("../images/Customers/customers-blob.jpg") no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  z-index: 1;
}

section.customers .carousel {
  width: 600px;
  background-color: #fff;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -webkit-box-shadow: 0 15px 30px -4px rgba(136, 155, 166, 0.4);
          box-shadow: 0 15px 30px -4px rgba(136, 155, 166, 0.4);
  z-index: 2;
}

section.customers .carousel:hover {
  cursor: pointer;
}

section.customers .carousel:hover #teamsnap-video,
section.customers .carousel:hover #basecamp-video,
section.customers .carousel:hover #zapier-video {
  background-size: 640px 370px;
}

section.customers .carousel-indicators {
  background-color: #fff;
  width: 122px;
  bottom: -14px;
  border-radius: 15px;
  padding: 0;
  cursor: auto;
}

section.customers .carousel-indicators li {
  background-color: #57b0fb;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  margin: 2px 7px;
  padding: 3px;
}

section.customers .my-carousel {
  /* carousel video content */
}

section.customers .my-carousel #teamsnap-video {
  width: 100%;
  height: 360px;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: 620px 360px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-size .2s ease-in-out;
  transition: background-size .2s ease-in-out;
  background-image: url("../images/Customers/video--teamsnap.jpg");
}

section.customers .my-carousel #basecamp-video {
  width: 100%;
  height: 360px;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: 620px 360px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-size .2s ease-in-out;
  transition: background-size .2s ease-in-out;
  background-image: url("../images/Customers/video--basecamp.jpg");
}

section.customers .my-carousel #zapier-video {
  width: 100%;
  height: 360px;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: 620px 360px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-size .2s ease-in-out;
  transition: background-size .2s ease-in-out;
  background-image: url("../images/Customers/video--zapier-2.jpg");
}

section.customers .my-carousel .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  background-color: rgba(49, 151, 214, 0.7);
  border-radius: 100%;
}

section.customers .my-carousel .play-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: white;
  margin-left: 3px;
}

section.customers .my-carousel .video-content {
  height: 240px;
}

section.customers .my-carousel .video-content::before {
  background: url("../images/Customers/bg-wave.svg") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 40%;
}

section.customers .my-carousel .video-content img {
  position: absolute;
  bottom: 44%;
  left: 6%;
  width: 70px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

section.customers .my-carousel .video-content blockquote {
  padding: 30px 60px;
  quotes: "'" "'";
}

section.customers .my-carousel .video-content blockquote p {
  text-indent: -10px;
  font-size: 18px;
  color: #314351;
}

section.customers .my-carousel .video-content blockquote footer.blockquote-footer {
  font-size: 14px;
  color: #748494;
  line-height: 1.6;
}

section.customers .my-carousel .video-content blockquote footer.blockquote-footer:before {
  content: " " !important;
}

section.customers .my-carousel .video-content blockquote footer.blockquote-footer cite {
  font-weight: 600;
  color: #314351;
  font-style: normal;
}

section.customers .modal-dialog {
  max-width: 900px;
}

section.customers .modal-dialog .modal-body {
  position: relative;
  padding: 0px;
}

section.customers .modal-dialog .modal-body .close {
  position: absolute;
  right: -30px;
  top: -40px;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

section.customers button {
  margin-top: 30px;
}

section.customers .customer-logo-box {
  min-width: 160px;
  max-width: 160px;
}

/* ------------------------------------- Sec5 Our People section ---------------------------------------*/
section.our-people .people-left-side img {
  width: 90px;
  height: 90px;
  padding: 0;
  margin: 0;
}

section.our-people .people-left-side .people-link a {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
}

section.our-people .people-left-side .people-link a:hover:after {
  transform: translateX(5px) rotate(45deg);
  -webkit-transform: translateX(5px) rotate(45deg);
  -moz-transform: translateX(5px) rotate(45deg);
  -ms-transform: translateX(5px) rotate(45deg);
  -o-transform: translateX(5px) rotate(45deg);
}

section.our-people .people-left-side .people-link a:after {
  width: 6px;
  height: 6px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  content: "";
  margin-left: .3rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-tansform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
}

section.our-people .pleople-right-side {
  position: relative;
}

section.our-people .pleople-right-side::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: -100px;
  background: url("../images/bg-people-brush.png") no-repeat 0 0;
  background-size: contain;
  z-index: 0;
}

section.our-people .pleople-right-side::after {
  content: " ";
  height: 326px;
  width: 446px;
  position: absolute;
  overflow: hidden;
  left: -80px;
  bottom: -40px;
  background: url("../images/bg-people-dotted.png") no-repeat;
  background-size: 446px 326px;
  z-index: 0;
}

@media (max-width: 1340px) {
  section.our-people .pleople-right-side::before {
    display: none;
  }
}

section.our-people .pleople-right-side img.crazy-girl {
  z-index: 1;
}

/* ------------------------------------- Sec6 Subscribe form ---------------------------------------*/
section.subscribe-form {
  padding: 0;
}

section.subscribe-form div.row {
  margin: 0;
  padding: 150px 0;
}

section.subscribe-form div.row input[type=text] {
  width: 355px;
  height: 52px;
  padding: 12px 16px;
  font-size: 16px;
  color: #253642;
}

section.subscribe-form div.row button[type=submit] {
  width: 160px;
  height: 52px;
  font-size: 17px;
  font-weight: 600;
  padding: 0 24px;
  -webkit-box-shadow: 0 3px 30px -2px rgba(20, 45, 100, 0.25);
          box-shadow: 0 3px 30px -2px rgba(20, 45, 100, 0.25);
}

@media (max-width: 768px) {
  section.subscribe-form div.row input[type=text] {
    width: 100%;
  }
  section.subscribe-form div.row button[type=submit] {
    width: 100%;
    margin-top: 15px;
  }
}

section.subscribe-form .subscribe-img {
  width: 340px;
  position: absolute;
  right: 10%;
  margin-top: -11px;
}

/* ------------------------------------- FOOTER ---------------------------------------*/
.main-footer {
  background-color: #1D2B36;
  padding-top: 3%;
}

.main-footer h3 {
  color: white;
  font-weight: 400;
}

.main-footer h4 {
  color: white;
  font-size: 16px;
  padding-bottom: 16px;
}

.main-footer ul {
  padding-left: 0;
  list-style-type: none;
}

.main-footer ul li {
  font-style: none;
  padding: 6px 0;
  line-height: 1.2;
}

.main-footer ul li a {
  color: #93a1b0;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.main-footer ul li a:hover {
  color: white;
}

.main-footer ul li a span.new {
  color: white;
  font-weight: 700;
  font-size: 11px;
  margin-left: 4px;
  background-color: #1292ee;
  border-radius: 2px;
  padding: 1px 3px;
}

.main-footer ul li a .fa-long-arrow-alt-up {
  font-size: 12px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  margin-left: 6px;
}

.main-footer ul li a span.status {
  background-color: #556575;
  color: #b7c2cc;
  font-weight: 700;
  font-size: 11px;
  margin-left: 4px;
  border-radius: 2px;
  padding: 1px 3px;
  line-height: .4;
}

.main-footer .footer-line {
  border-top: 1px solid #405261;
  margin: 40px 0px;
}

.main-footer .footer-social .footer-soc-icon {
  font-size: 23px;
  color: #93a1b0;
  margin-right: 5px;
}

.main-footer .footer-social .footer-soc-icon:hover {
  color: white;
}

.main-footer .footer-copyright {
  font-size: 15px;
}

.main-footer .footer-copyright img {
  width: 50px;
  opacity: 0.6;
}

.main-footer .footer-copyright .cpright-text {
  color: white;
  font-weight: 700;
}

.main-footer .certified-logo {
  width: 60px;
  opacity: .6;
}

.main-footer .certified-logo:hover {
  opacity: .8;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */